<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.trasmontano.trasmontanoassociadomobile">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="android.permission.INTERNET" />

    <!--
     <application
        android:name=".PDVAplication"
        android:allowBackup="true"

        android:label="@string/app_name"
        android:theme="@style/AppTheme" >



    </application>
    -->
    <application
        android:name=".PDVAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/teste"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySplash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".CadastarActivity" />
        <activity android:name=".ListAssociadoActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainLogadoActivity"
            android:label="@string/title_activity_main_logado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarteirinhaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        <activity
            android:name=".CarteirinhaEmpresarialFrenteFragment"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarteirinhaEmpresariaVersolFragment"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".CarteirinhaPessoaFisicaFrenteFragment" />
        -->
        <activity android:name=".ListAlarmeActivity" />

        <!--
        <receiver android:name=".AlarmeBroadcastReceiver" >
        </receiver>
        -->

        <receiver android:name=".AlarmeBroadcastReceiver">
            <intent-filter>
                <action android:name="br.com.trasmontano.trasmontanoassociadomobile.ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".CadastrarAlarmeActivity" />
        <activity android:name=".MensagemActivity"></activity>
    </application>

</manifest>